{% extends 'base.html.twig' %}

{% block body %}

<h1>Products</h1>

<form action="{{ path('app_products_create') }}" method="post">
  <input type="hidden" name="_method" value="POST">
  <input type="text" placeholder="Reference" name="ref">
  <br>
  <input type="text" placeholder="Price" name="price">
  <br>
  <input type="submit" name="submit">
</form>

{% endblock %}
