{% extends 'base.html.twig' %}

{% block body %}

<h1>Products</h1>
<ul>

        <li>ID : {{ product.id }}</li>
          <li> REF: {{ product.reference }}</li>
          <li> Category: {{ product.category ? product.category.designation : 'aucune' }} </li>
          <li> PRICE: {{ product.price }} €</li>

</ul>

{% endblock %}
